body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vh;
  height: 100vh;
}

textarea {
  width: 500px;
  height: 80vh;
  margin: 10px;
}

#content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 720px) {
  #content {
    display: flex;
    flex-direction: column;
  }
}

